.box {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.05);
}
img {
  height: 800px;
}
